.App {
    overflow: hidden;
    background-image: url(./images/space.png);
}

header {
    font-size: 30px;
    color: #ff4e75;
    margin: 10px;
    font-weight: 600;
    line-height: 1.5;
}

*{
    box-sizing: border-box;
}

